button {
    font-family: inherit;
}

.hero-button {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    width: 216px;
    height: 50px;

    color: var(--whete-letters);
    background: var(--fonbut);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .container &:hover,
    .container &:focus {
        background: #188CE8;
        }
}

// FOOTER BUTTON

.emailing-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding-left: 28px;
    padding-right: 13px;

    width: 200px;
    height: 50px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: #FFFFFF;

    border: none;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.modal-btn {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);

    cursor: pointer;

    &:focus>.close-btn,
    &:hover>.close-btn {
        fill: var(--fonbut);
    }
}

// MODAL BUTTON

.form-btn {
    display: block;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    max-width: 200px;
    width: 100%;
    height: 50px;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: #FFFFFF;

    cursor: pointer;
}

// PORTFOLIO BUTTONS

.button-type {
    
    // flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
    @media screen and (max-width: ($tablet - 0.02)) {
        display: inline-block;
        // &:last-child {
        //     margin-bottom: 40px;
        // }
        
    }
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    @media screen and (min-width: $desktop) {    
        margin-bottom: 50px;
    }
    
    padding: 6px 22px;
    border-radius: 4px;
    min-width: 67px;
    color: var(--title-text-color);
    background: var(--fonbutton);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border: none;
    cursor: pointer;     
}

// .button-all {
//     display: inline-block;
//     margin-bottom: 56px;
//     padding: 6px 25px;
//     width: 73px;
//     border-radius: 4px;
//     color: var(--title-text-color);
//     background: var(--fonbutton);
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.62;
//     text-align: center;
//     border: none;
//     cursor: pointer;
// }
