.footer-cont {
    display: block;
    background: var(--fon);
    padding-top: 60px;
    padding-bottom: 60px;
}

.equal {
    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: baseline;
    }
}

.footer-portfolio {
    @media screen and (min-width: $tablet) {
        display: flex;
       
    }
}

.footer-first {
    display: block;

    @media screen and (min-width: $tablet) and (max-width: ($desktop - 0.02)) {
        margin-right: 165px;
    }

    @media screen and (min-width: $desktop) {
        margin-right: 70px;
    }

}

.logofoot {
    @media screen and (max-width: ($tablet - 0.02)) {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 0.02)) {
        margin-left: 100px;
        
    }

    color: var(--whete-letters);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24);

    @media screen and (min-width: $desktop) {
        font-size: 26px;
        line-height: 1.19;
    }

    text-decoration: none;

    &>span {
        color: var(--fonbut);
    }
}

.norm {
    font-style: normal;
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 0.02)) {
        text-align: center;
    }
}
.adress-margin {
    margin-top: 28px;
    @media screen and (max-width: ($tablet - 0.02)) {
        text-align: center;
    }
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 0.02)) {
        margin-left: 61px;
    }
}

.footer-margin {
    @media screen and (max-width: ($tablet - 0.02)) {
        display: block;
        .footer-text {
            text-align: center;
        }
    }
    margin-bottom: 12px;
}

.footer-adress {
    color: #FFFFFF;
    line-height: 1.71;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .norm &:hover,
    .norm &:focus {
        color: var(--fonbut);
    }
}
@media screen and (min-width: $tablet) and (max-width: ($desktop - 0.02)) {
    li .footer-margin {
        text-align: center;
    }
}
.footer-text {
    // @media screen and (max-width: ($tablet - 0.02)) {
    //     text-align: center;
    // }

    color: rgba(255, 255, 255, 0.6);
    line-height: 1.14;
    text-decoration: none;

    .norm & {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .norm &:hover,
    .norm &:focus {
        color: var(--fonbut);
    }
}

.joining {
    @media screen and (max-width: ($tablet - 0.02)) {
        margin-top: 60px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 0.02)) {
        text-align: center;
        margin-right: 89px;
    }

     @media screen and (min-width: $desktop) {
        margin-left: 70px;
        margin-right: 94px;
        margin-top: 15px;
     }   


}

.socials-bottom {
    display: flex;
    justify-content: center;
    gap: 10px;
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 0.02)) {
            margin-right: 89px;
        }
}

.socials-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #2196F3;
    }
}

.socials-icon {
    fill: currentColor;
}

.emailing {    
    @media screen and (max-width: ($desktop - 0.02)) {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    @media screen and (min-width: $desktop) {
        margin-left: 70px;
    }
}

.emailing-text {
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: #FFFFFF;
}

.emailing-form {
    @media screen and (max-width: ($desktop - 0.02)) {
        .emailing-button {
            margin-left: auto;
            margin-right: auto;
        }    
    }
    @media screen and (min-width: $desktop) {
        display: flex;
        gap: 12px;
    }
}   

.emailing-input {
    padding: 15px 16px;
    
    @media screen and (max-width: ($desktop - 0.02)) {
        max-width: 450px;
        width: 100%;
        margin-bottom: 20px;
    }
    
    @media screen and (min-width: $desktop) {
        width: 358px;
    }
    
    height: 50px;

    color: #fff;

    background: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    &::placeholder {
        font-style: normal;
        font-size: 16px;
        line-height: 1.25;

        display: flex;
        align-items: center;

        color: rgba(255, 255, 255, 0.6);
    }

    
}

