.header {
    display: block;
    border-bottom: 1px solid #ECECEC;
}

.main-string {
    display: flex;
    align-items: center;
}

.line {
    display: flex;
    align-items: center;
}

/* Site contacts */

.site-cont {
    @media screen and (max-width: ($tablet - 0.02)) {
        display: none;
    }
    display: flex;
    margin-left: auto;

    & .item+.item {
        margin-left: 50px;
    }

    & .refer {
        padding-top: 32px;
        padding-bottom: 32px;

        color: var(--main-text-color);
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    & .refer:hover,
    & .refer:focus {
        color: var(--fonbut);
    }
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--fonbut);
    }
}

.envephon {
    fill: currentColor;
    margin-right: 10px;
}

.refer {
    display: flex;
    align-items: center;
}

