.hero {
    display: block;
    padding-top: 118px;
    padding-bottom: 118px;    
    background: #C4C4C4;
    text-align: center;

    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: $desktop) {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    // MOBILE SCREEN
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../img/hero/bg_sm@1x.jpg);

    // RETINA MOBILE SCREEN
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../img/hero/bg_sm@2x.jpg);
    }

    @media screen and (min-width: 481px) {
        // TABLET SCREEN
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../img/hero/bg_md@1x.jpg);
    
        // RETINA TABLET SCREEN
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../img/hero/bg_md@2x.jpg);
        }
    }

        @media screen and (min-width: 769px) {
            // DESCTOP SCREEN
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../img/hero/bg_lg@1x.jpg);
    
            // RETINA DESCTOP SCREEN
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../img/hero/bg_lg@2x.jpg);
            }
        }
}

.hero-title {
    margin-bottom: 30px;
    color: var(--whete-letters);
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);    
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: $desktop) {
        font-size: 44px;
        line-height: 1.36;
    }

}





