.hero {
    display: block;
    padding-top: 118px;
    padding-bottom: 118px;    
    background: #C4C4C4;
    text-align: center;

    background-image:
        linear-gradient(to right, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../img/fonimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: $desktop) {
        padding-top: 200px;
        padding-bottom: 200px;
    }

}

.hero-title {
    margin-bottom: 30px;
    color: var(--whete-letters);
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);    
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: $desktop) {
        font-size: 44px;
        line-height: 1.36;
    }

}





