.logo {
    padding-top: 24px;
    padding-bottom: 25px;
    color: #000000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

    &>span {
        color: var(--fonbut);
    }
}