.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover>svg,
.menu-toggle:focus>svg {
    fill: var(--fonbut);
    // background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #FFFFFF;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    &:focus>.menu-toggle,
    &:hover>.menu-toggle {
        fill: var(--fonbut);
    }
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #212121;
}

.mobile-menu {
    padding: 0;
    margin-top: 16px;
    margin-left: 8px;
    margin-bottom: auto;

    & .option:hover,
    & .option:focus {
        color: #2196F3;
    }
}

.mobile-menu .option {
    display: block;
    padding: 10px;

    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    color: #212121;
    text-decoration: none;
}

.mobile-tel,
.mobile-socials {
    margin-left: 8px;
}

.mobile-tel .tel {
    display: block;
    margin-bottom: 32px;

    font-weight: 500;
    font-size: 28px;
    @media screen and (min-width: 365px) {
        font-size: 34px;
    }
    line-height: calc(40 / 34);
    color: #2196F3;
    text-decoration: none;
} 

.mobile-tel .post {
    display: block;
    margin-bottom: 64px;

    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);

    color: #757575;
    text-decoration: none;
}

.mobile-socials {
    display: flex;
}

.mobile-socials .socials {
    margin-right: 10px;

    font-weight: 500;
    font-size: 11px;
    @media screen and (min-width: 405px) {
        font-size: 18px;
    }
    line-height: calc(22 / 18);

    color: #2196F3;
    text-decoration: none;
}

.mobile-socials {
    li:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        margin-right: 10px;
    }
}