.site-nav {
    @media screen and (max-width: ($tablet - 0.02)) {
        display: none;
    }
    display: flex;
    margin-left: 93px;

    & .item:not(:last-child) {
        margin-right: 50px;
    }

    & .link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        color: var(--title-text-color);

        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    & .item {
        position: relative;
    }

    & .link:hover,
    & .link:focus {
        color: var(--fonbut);
    }

    & .link.current {
        color: var(--fonbut);
    }
}

.current::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--fonbut)
}